.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 1rem 6%;
  text-align: center;
  box-shadow: 4px 4px 20px 0px #d1d1d1;
  margin-bottom: 2px;
}

.navbar h1 {
  font-weight: bold;
  color: #66ba75;
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.link {
  color: #60bf70;
  padding: 20px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 20px;
}

a:hover {
  color: black;
}
@media only screen and (max-width: 600px) {
  .navbar h1 {
    font-size: 2rem;
  }
  .link {
    font-size: 12px;
  }
}
